.welcome-page {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.welcome-page .GreyBox {
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 0;
}

.welcome-page .logo {
  position: absolute;
  margin-top: -75px;
  margin-left: 1900px;
  z-index: 10;
}

.welcome-page .div-6 {
  background-color: #ffffff;
  height: 755px;
  position: relative;
  width: 100%;
  max-width: 1440px;
  padding-right: 20px;
}

.welcome-page .overlap-23 {
  height: 100px;
  right: 74px;
  position: absolute;
  top: 139px;
  width: 836px;
}

.welcome-page .text-wrapper-36 {
  color: #0061e5;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 75px;
  right: -450px;
  letter-spacing: 0;
  line-height: 57px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 529px;
  text-align: right;
}

.welcome-page .text-wrapper-37 {
  color: #000000;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 400;
  height: 57px;
  right: -450px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 43px;
  width: 836px;
}

.welcome-page .overlap-24 {
  height: 229px;
  right: 74px;
  position: absolute;
  top: 269px;
  width: 832px;
}

.welcome-page .text-wrapper-38 {
  color: #000000;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  height: 57px;
  right: -450px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 832px;
  text-align: right;
}

.welcome-page .text-wrapper-39 {
  color: #000000;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  right: -450px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 47px;
  width: 506px;
  text-align: right;
}

.welcome-page .options-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 90px;
  right: -450px;
  width: 200px;
}

.welcome-page .option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.welcome-page .option-text {
  color: #000000;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;

  font-weight: 400;
  margin-bottom: 5px;
}

.welcome-page .ellipse {
  border: 1px solid #000000;
  border-radius: 15px;
  height: 20px;
  width: 20px;
}

.welcome-page .overlap-group-4 {
  height: 102px;
  right: 111px;
  position: absolute;
  top: 538px;
  width: 268px;
}

.welcome-page .div-7 {
  color: #000000;
  direction: rtl;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 400;
  height: 57px;
  right: -500px;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  top: 45px;
  width: 265px;
  text-align: right;
}

.welcome-page .text-wrapper-45 {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
  display: inline-block;
  margin-right: 20px; /* Adjust this value to move it more or less to the right */
}

.welcome-page .text-wrapper-46 {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px; /* Adjust this value as needed */
}

.welcome-page .rectangle-10 {
  background-color: #0061e5;
  border-radius: 50px;
  height: 46px;
  right: -485px;
  position: absolute;
  top: 0;
  width: 253px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 1s;
}

.welcome-page .rectangle-10:hover {
  opacity: 0.8;
}

.welcome-page .popup {
  position: fixed;
  transform: translate(250%, 700%);
  color: white;
  background-color: rgb(84, 87, 162);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(96, 103, 243, 0.5);
  border: 2px solid #240707;
  z-index: 1000;
  text-align: right;
  max-width: 80%;
}

.popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 120%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(84, 87, 162);
  bottom: -20px;
  right: -30px;
  transform: rotate(250deg);
  transform-origin: center top;
}

.welcome-page .registration-text {
  color: white;
  font-size: 24px;
  font-weight: bold;

  text-align: center;
}
